<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nuturtlebot">
	<xacro:include filename="$(find nuturtle_description)/urdf/diff_drive.urdf.xacro"/>

	<gazebo reference="base_link">
		<material>Gazebo/Black</material>
	</gazebo>

	<gazebo reference="left_wheel">
		<mu1>0.1</mu1>
	    <mu2>0.1</mu2>
		<minDepth>0.001</minDepth>
		<fdir1>1 0 0 </fdir1>
		<maxVel>0.1</maxVel>
		<kp>500000</kp>
		<kd>10</kd>
	    <dampingFactor>0.001</dampingFactor>
		<material>Gazebo/Blue</material>
	</gazebo>

	<gazebo reference="right_wheel">
		<mu1>0.1</mu1>
	    <mu2>0.1</mu2>
		<minDepth>0.001</minDepth>
		<fdir1>1 0 0 </fdir1>
		<maxVel>0.1</maxVel>
		<kp>500000</kp>
		<kd>10</kd>
	    <dampingFactor>0.001</dampingFactor>
		<material>Gazebo/Blue</material>
	</gazebo>

	<gazebo reference="caster1">
		<mu1>0.0</mu1>
		<material>Gazebo/Blue</material>
		<mu2>0.0</mu2>
		<minDepth>0.001</minDepth>
		<maxVel>1.0</maxVel>
		<kp>1000000</kp>
		<kd>100</kd>
	</gazebo>

	<gazebo reference="caster_joint1">
		<preserveFixedJoint>true</preserveFixedJoint>
	</gazebo>

	<xacro:property name="freq" value= "${load_yaml('$(find nuturtle_description)/config/diff_params.yaml')['freq']}"/>

	<gazebo>
	    <plugin name="turtle_drive_plugin" filename="libturtle_drive_plugin.so">
	      <!-- if joint names not specified, print fatal error and return from Load -->
	      <left_wheel_joint>left_wheel_axel</left_wheel_joint>
	      <right_wheel_joint>right_wheel_axel</right_wheel_joint>
	      <sensor_frequency>120</sensor_frequency> <!-- if not specified should default to 200Hz "${freq}" -->
	      <wheel_cmd_topic>wheel_cmd</wheel_cmd_topic>
	      <sensor_data_topic>sensor_data</sensor_data_topic>
	    </plugin>
  	</gazebo>


</robot>