<launch>
	<!-- 
	This launchfile is used to load differential drive robot parameters into parameter server, to then xacro a urdf of a differential drive robot into the robot description of the parameter server. Then launch the robot and joint state publishers with the optional jsp_gui. 
	 -->

	<!-- load parameters in parameter server -->
	<rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml"/>

	<!-- load generated urdf from xacro into parameter server -->
	<param name="robot_description" command="$(find xacro)/xacro '$(find nuturtle_description)/urdf/diff_drive.urdf.xacro'"/>
	
	<!-- Launch rviz with and load in settings -->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find nuturtle_description)/rviz/view_robot.rviz" required="true"/>
	
	<!--launch robot state publisher which grabs urdf data from /robot_description parameter and listens to joint info on the /joint_states topic-->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

	<!-- define arg -->
	<arg name="use_jsp_gui" default="true" doc="Launch the joint_state_publisher gui to publish joint angles"/>
	<!-- launch joint_state_publisher -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if="$(arg use_jsp_gui)">
    	<param name="use_gui" value="(arg use_jsp_gui)"/>
  	</node>
</launch>